TextDiablo/proj.win32/Debug.win32/link-rc.read.1.tlog
*.tlog
*.obj
*.exe
*.ilk
*.lastbuildstate
*.log
*.pdb
*.cache
*.sdf
*.filters
*.suo
*.user
TextDiablo/proj.win32/Debug.win32/freetype250.lib
TextDiablo/proj.win32/Debug.win32/glew32.dll
TextDiablo/proj.win32/Debug.win32/glew32.lib
TextDiablo/proj.win32/Debug.win32/glfw3.lib
TextDiablo/proj.win32/Debug.win32/iconv.dll
TextDiablo/proj.win32/Debug.win32/libchipmunk.lib
TextDiablo/proj.win32/Debug.win32/libcocos2d.lib
TextDiablo/proj.win32/Debug.win32/libcurl.dll
TextDiablo/proj.win32/Debug.win32/libcurl_imp.lib
TextDiablo/proj.win32/Debug.win32/libiconv.lib
*.lib
*.dll
*.idb
*.opensdf